*.pyc
*.pyd
.idea
.project
.pydevproject
.vscode
*.pkl
/dist
plan.md
bggcohomology/.idea
bggcohomology/.ipynb_checkpoints
bggcohomology/build
computations/.ipynb_checkpoints
examples/.ipynb_checkpoints
*/.ipynb_checkpoints
computations/tables/pdfs
# computations/pickles
*.stackdump
*.dll
*.c
*.o
*.json
# *.pkl
build/*
docs/_build
*.egg-info

nohup.out
